@use "./autoprefixer/autoprefixer" as *;
@use "./variables/variables" as *;


@media (min-width: 575px) {

}

@media (min-width: 767px) {

}

@media (min-width: 991px) {
    .trending-posts-swiper-button {
        bottom: 240px;
        left: 206px;
    
        .swiper-button-next,
        .swiper-button-prev {
          width: 120px;
          height: 120px;
        }
      }
      
  .trending-posts-swiper {

    display: block;
  }
}

@media (min-width: 1199px) {

}

@media (min-width: 1400px) {

}