@forward "base/default";
@forward "layout/navbar";
@forward "pages/index";
@forward "variables/variables";
@forward "responsive.scss";

.row {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 1.5rem;
}
.custom-container {
  width: 100%;
  margin: 0 auto;
}
.under-line {
  text-decoration: underline;
}